@import "/home/dylan/nixos-dotfiles/config/colors/tokyo-night.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
}

window {
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    background-color: @bg; 
}

#input {
    margin: 10px;
    padding: 8px;
    border: none;
    border-radius: 0px;
    background-color: @bg-dark;
    color: @yellow;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
    color: @fg;
}

#entry:selected {
    border-radius: 0px;
    border: 0px;
    background-color: @bg-dark;
}

#text:selected {
    color: @blue;
}
